<div class="container-fluid component">
    <h2>Labeling Session</h2>
    <p *ngIf="currentLabelset">Last updated {{ currentSession.UpdatedAt | date:'medium' }}</p>
    <div class="row">
        <div class="col-8">
            <a routerLink="/dashboard" mat-raised-button class="btn">Back</a>
        </div>
    </div>
    <div class="row ">
        <div class="col-12 cont mat-elevation-z2">
            <div class="row">
                <div class="col-12 col-md-4">
                    <mat-spinner *ngIf="!currentSession" ></mat-spinner>

                    <mat-form-field *ngIf="currentSession"  class="full-width-widget">
                        <input matInput placeholder="Name of the session" [(ngModel)]="sessionName">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-4">
                    <mat-form-field *ngIf="currentSession" class="input-field">
                        <input matInput [matDatepicker]="picker" placeholder="Session date" [(ngModel)]="sessionDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-2">
                    <button *ngIf="isNameChangedBtnDisabled()" mat-raised-button color="primary" disabled>Save</button>
                    <button *ngIf="!isNameChangedBtnDisabled()" mat-raised-button color="primary" (click)="saveSessionName()">Save</button>
                </div>
                <div class="col-5">
                    <mat-spinner *ngIf="nameUpdating" ></mat-spinner>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 cont">
            <div class="mat-elevation-z2 cont">
                test

            </div>
        </div>
        <div class="col-12 col-md-7 cont">
            <div class="mat-elevation-z2 cont">
                <h3>Current label</h3>
                <p>{{currentLabelDescription}}</p>
                <div class="row">
                    <div class="col-4">Select a labelset:</div>
                    <div class="col-8">
                        <mat-form-field class="full-width-widget">
                            <mat-select [(value)]="selectedLabelSet" (selectionChange)="changeLabelSet($event.value)">
                                <mat-option *ngFor="let labelset of labelsets" [value]="labelset.ID">
                                        {{labelset.ID}}: {{labelset.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding
                        (click)="todoItemSelectionToggle(node)">
                        <div [ngClass]="{'selected-node': checklistSelection.isSelected(node), 'node': true}">
                            <button mat-icon-button disabled>
                                <mat-icon *ngIf="!checklistSelection.isSelected(node)" fontSet="far" fontIcon="fa-circle"></mat-icon>
                                <mat-icon *ngIf="checklistSelection.isSelected(node)" fontSet="far" fontIcon="fa-check-circle"></mat-icon>
                            </button>
                            {{node.description}} <small>(ID: {{node.ID}})</small>
                            <!--<mat-icon *ngIf="checklistSelection.isSelected(node)" color="accent" fontSet="far" fontIcon="fa-check"></mat-icon>-->
                        </div>
                    </mat-tree-node>
                    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding
                        (click)="toggleNode(node)" >
                        <div [ngClass]="{'selected-node': descendantsPartiallySelected(node), 'node': true}">
                            <button mat-icon-button matTreeNodeToggle
                                    [attr.aria-label]="'toggle ' + node.filename">
                                <mat-icon *ngIf="!treeControl.isExpanded(node)" fontSet="fas" fontIcon="fa-chevron-right"></mat-icon>
                                <mat-icon *ngIf="treeControl.isExpanded(node)" fontSet="fas" fontIcon="fa-chevron-down"></mat-icon>
                            </button>
                            {{node.description}} <small>(ID: {{node.ID}})</small>
                            <!--<mat-icon *ngIf="descendantsPartiallySelected(node)" color="accent" fontSet="far" fontIcon="fa-check"></mat-icon>-->
                        </div>
                    </mat-tree-node>
                </mat-tree>
            </div>
        </div>
    </div>
</div>







    <button mat-raised-button (click)="addNewLabel()">add test label</button>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="sessionLabelsDataSource" class="full-width-widget">
        <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let label"> {{label.description}} </td>
        </ng-container>

        <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> Start </th>
        <td mat-cell *matCellDef="let label"> {{label.start}} </td>
        </ng-container>

        <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef> End </th>
        <td mat-cell *matCellDef="let label"> {{label.end}} </td>
        </ng-container>

        <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> Subject </th>
        <td mat-cell *matCellDef="let label"> {{label.subject}} </td>
        </ng-container>

        <ng-container matColumnDef="created_by">
        <th mat-header-cell *matHeaderCellDef> By </th>
        <td mat-cell *matCellDef="let label"> {{label.created_by}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let label">
            <button mat-icon-button (click)="deleteLabel(label.ID)">
                <mat-icon fontSet="far" fontIcon="fa-trash-alt"></mat-icon>
            </button>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>