<div class="container-fluid component">
    <h2>Label Set Editor</h2>
    <mat-form-field>
        <input matInput placeholder="Name of the label set" [(ngModel)]="labelsetName">
    </mat-form-field>
    <div class="row">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding
            (click)="todoItemSelectionToggle(node)">
                <div [ngClass]="{'selected-node': checklistSelection.isSelected(node), 'node': true}">
                <button mat-icon-button disabled></button>
                <mat-icon *ngIf="!checklistSelection.isSelected(node)" fontSet="far" fontIcon="fa-circle"></mat-icon>
                <mat-icon *ngIf="checklistSelection.isSelected(node)" fontSet="far" fontIcon="fa-check-circle"></mat-icon>
                {{node.description}} <small>(ID: {{node.ID}})</small>
                <!--<mat-icon *ngIf="checklistSelection.isSelected(node)" color="accent" fontSet="far" fontIcon="fa-check"></mat-icon>-->
            </div>
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding
                (click)="toggleNode(node)" >
                <div [ngClass]="{'selected-node': descendantsPartiallySelected(node), 'node': true}">
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'toggle ' + node.filename">

                    <mat-icon *ngIf="!treeControl.isExpanded(node)" fontSet="fas" fontIcon="fa-chevron-right"></mat-icon>
                    <mat-icon *ngIf="treeControl.isExpanded(node)" fontSet="fas" fontIcon="fa-chevron-down"></mat-icon>
                </button>
                {{node.description}} <small>(ID: {{node.ID}})</small>
                <!--<mat-icon *ngIf="descendantsPartiallySelected(node)" color="accent" fontSet="far" fontIcon="fa-check"></mat-icon>-->
            </div>
            </mat-tree-node>
        </mat-tree>
    </div>
    <div class="row">
        <div class="col-8">
            <button mat-raised-button color="primary" class="btn">Update</button>
            <button mat-raised-button color="warn" class="btn">Cancel</button>
        </div>
    </div>
</div>
