<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6">
            <mat-list>
                <h3 mat-subheader>Sessions</h3>
                <mat-list-item *ngIf="!hasSessions()">
                    <p mat-line>No sessions available yet.</p>
                </mat-list-item>
                <mat-list-item *ngFor="let session of sessions">
                    <mat-icon mat-list-icon fontSet="fas" fontIcon="fa-tape"></mat-icon>
                    <h4 mat-line>{{session.session_name}} <small>(ID: {{ session.ID }})</small> </h4>
                    <p mat-line> {{session.start_date | date}} </p>
                    <a mat-icon-button [routerLink]="['/labeling', session.ID]"  color="basic" matTooltip="Labeling for this session" >
                        <mat-icon fontSet="far" fontIcon="fa-edit"></mat-icon>
                    </a>
                    <button mat-icon-button  color="basic" matTooltip="Download labels of this session" (click)="downloadLabels(session.ID)">
                        <mat-icon fontSet="far" fontIcon="fa-download"></mat-icon>
                    </button>
                    <button mat-icon-button  color="basic" matTooltip="Delete session" (click)="deleteSession(session.ID)">
                        <mat-icon fontSet="far" fontIcon="fa-trash-alt"></mat-icon>
                    </button>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
            <div style="height: 20px;"></div>
            <app-session-creator></app-session-creator>
        </div>
        <div class="col-12 col-sm-6">
            <mat-list>
                <h3 mat-subheader>Label Sets</h3>
                <mat-list-item *ngIf="!hasLabelsets()">
                    <p mat-line>No label set available yet.</p>
                </mat-list-item>
                <mat-list-item *ngFor="let labelset of labelsets">
                    <h4 mat-line>{{labelset.name}}</h4>
                    <p mat-line>
                        <mat-icon matTooltip="Last updated at" fontSet="far" fontIcon="fa-calendar-alt"></mat-icon>
                        {{ labelset.UpdatedAt | date }}
                    </p>
                    <a mat-icon-button [routerLink]="['/labelset-editor', labelset.ID]"  color="basic" matTooltip="Edit label set" >
                        <mat-icon fontSet="far" fontIcon="fa-edit"></mat-icon>
                    </a>
                    <button mat-icon-button  color="basic" matTooltip="Delete label set" (click)="deleteLabelset(labelset.ID)">
                        <mat-icon fontSet="far" fontIcon="fa-trash-alt"></mat-icon>
                    </button>
                    <mat-divider></mat-divider>
                </mat-list-item>
                <a style="margin: 0 auto;" routerLink="/labelset-editor/new" mat-icon-button>
                    <mat-icon fontSet="fas" fontIcon="fa-plus"></mat-icon>
                    Create new label set
                </a>
            </mat-list>
        </div>
    </div>
</div>

